@import "./Styles.view.less";

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;

    font-family: Roboto, Helvetica, sans-serif;
    color: @white;
}

.MainScreen {
    top: 3em;
    left: 0em;
    right: 0em;
    bottom: 3em;
    overflow: hidden;
    position: absolute;
}

.Skirmish {
    .Squad {
        margin-bottom: 1em;
    }
}
